/* ----- HEADER ----- */

.header {
  background-color: rgb(37, 37, 37);
  height: 250px;
}

.subHeaderProjects {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-weight: bold;
  color: rgb(63, 178, 255);
}

/* ----- PROJECTS ----- */

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.exploreContainer {
  margin-top: 70px;
  border: solid 1px lightgrey;
  box-shadow: 0px 10px 10px lightgray;
  padding: 70px;
  border-radius: 20px 45px 20px 45px;
  max-width: 600px;
  background-color: rgb(37, 37, 37);
  color: white;
  font-size: 18px;
}
.toLinkContainer {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
  text-decoration: none;
  background-color: rgb(63, 178, 255);
  color: white;
}

/* ----- ABOUT ME ----- */

.aboutTitle {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: rgb(63, 178, 255);
  font-size: 40px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.aboutContainer {
  margin-top: 70px;
  border: solid 1px lightgrey;
  box-shadow: 0px 10px 10px lightgray;
  padding: 50px;
  border-radius: 20px;
  max-width: 600px;
  background-color: rgb(219, 217, 217);
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
}
