.exploreContainer {
  margin-top: 80px;
  border: solid 1px lightgrey;
  box-shadow: 0px 10px 10px lightgray;
  padding: 20px;
  border-radius: 20px 45px 20px 45px;
  max-width: 600px;
}

.header {
  background-color: rgb(37, 37, 37);
  height: 250px;
}

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.exploreContainer {
  background-color: rgb(37, 37, 37);
  color: white;
}

.toLinkContainer {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
  text-decoration: none;
  background-color: rgb(132, 0, 255);
  color: white;
}
